{% extends 'base.html.twig' %}

{% block title %}Vos CV
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 sm:px-8">
		<div class="py-8">
			<h1 class="uppercase font-bold text-center text-3xl p-5">Vos Cv</h1>

			<div class="my-2 flex sm:flex-row flex-col">
				<div class="flex flex-row mb-1 sm:mb-0">
					<div class="relative">
						<a href="{{ path('app_formation_new') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
							Nouveau CV
						</a>
					</div>
				</div>
			</div>
			<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
				<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
					<table class="min-w-full leading-normal">
						<thead>
							<tr>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Title
								</th>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Date du début
								</th>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Date de fin
								</th>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Éxpérience(s)
								</th>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Formation(s)
								</th>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Compétence(s) personnelle(s)
								</th>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Actions
								</th>
							</tr>
						</thead>
						<tbody>
							{% if cvs is iterable %}
								{% for cv in cvs %}
									<tr>
										<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
											<p class="text-gray-900 whitespace-no-wrap">{{ cv.title }}</p>
										</td>
										<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
											<p class="text-gray-900 whitespace-no-wrap">{{ cv.dateStart }}</p>
										</td>
										<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
											<p class="text-gray-900 whitespace-no-wrap">{{ cv.dateEnd }}</p>
										</td>
										<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
											{% for experience in cv.experiences %}
												<p class="text-gray-900 whitespace-no-wrap">{{ experience }}</p>
											{% endfor %}
										</td>
										<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
											{% for formation in cv.formations %}
												<p class="text-gray-900 whitespace-no-wrap">{{ formation }}</p>
											{% endfor %}
										</td>
										<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
											{% for skill in cv.softSkills %}
												<p class="text-gray-900 whitespace-no-wrap">{{ skill }}</p>
											{% endfor %}
										</td>
										<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
											<a href="{{ path('app_cv_show', {'id': cv.id}) }}" class="text-blue-600 hover:text-blue-900 mr-2">Afficher</a>
											<a href="{{ path('app_cv_edit', {'id': cv.id}) }}" class="text-green-600 hover:text-green-900">Modifier</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="6" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
											<p class="text-gray-900 whitespace-no-wrap text-center">No records found</p>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="6" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
										<p class="text-gray-900 whitespace-no-wrap text-center">Invalid data format</p>
									</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}