{% extends 'base.html.twig' %} {% block title %}Centres d'intérêt{% endblock %}
{% block body %}

<div class="max-w-4xl mx-auto py-8 px-4">
  <h1 class="text-2xl font-bold mb-6 text-gray-800">Mes centres d'intérêts</h1>

  {{ form_start(form, { attr: { class: "space-y-8" }, method: "POST" }) }}
  <div class="bg-white p-6 rounded-lg shadow-md">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>

    {{ form_end(form) }}
  </div>
  </div>
  {% endblock %}

